<ion-header>
  <ion-navbar color="forApp">
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>  
      </button>
      <ion-title>TalkMe</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [attr.noScroll]="shouldScroll">
    <ion-fab top right edge>
  <button ion-fab color="secondary" (click)="tutorial()"><ion-icon name="md-help"></ion-icon></button>
      </ion-fab>
  <div class="map-wrapper">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"
          [iconUrl]="'https://cdn1.iconfinder.com/data/icons/twitter-ui-colored/48/JD-22-48.png'">

          <agm-info-window>
            <h3>Tú</h3>
            <!-- <h3><strong>{{(perfilDatos | async)?.nombre}} {{(perfilDatos | async)?.apellido}}</strong></h3> -->
          </agm-info-window>

        </agm-marker>

        <div *ngFor="let marker of markers">
          <!-- <div *ngIf="marker.key != keyUsuario"> -->
          <agm-marker [latitude]="marker.location[0]" [longitude]="marker.location[1]"
              [iconUrl]="'https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-32.png'"
              *ngIf="marker.key != key2 && borrar == 0" >
          
            <agm-info-window>
              <h3><strong>Quieres hablarme?</strong></h3>
              <!-- <h1>{{marker.key}}</h1> -->
              <button col-6 (click)="abrirModalPerfil(marker.key)" ion-button color="forApp">Conóceme</button>

            </agm-info-window>
          </agm-marker>
          <!-- </div> -->
        </div> 
      

    </agm-map>
  </div>

</ion-content>

<ion-footer>
  
      <div>
        <button ion-button large color="forApp" class="footer" (click)="recargar()">Recarga el Mapa</button>
       </div>
</ion-footer>

