<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>  
      </button>
      <ion-title>TalkMe</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [attr.noScroll]="shouldScroll">

  <div class="map-wrapper">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"
          [iconUrl]="'https://maps.google.com/mapfiles/kml/shapes/library_maps.png'">

          <agm-info-window>

            <h3><strong>{{(perfilDatos | async)?.nombre}} {{(perfilDatos | async)?.apellido}}</strong></h3>
          </agm-info-window>

        </agm-marker>

        <div *ngFor="let marker of markers">
          <agm-marker [latitude]="marker.location[0]" [longitude]="marker.location[1]"
              [iconUrl]="'https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-32.png'"
              *ngIf="marker.location[0] != lat && marker.location[1] != lng">
          
            <agm-info-window>
              <h3><strong>Detalles</strong></h3>
              <p>Estas a {{marker.distance}}km de distancia</p>
            </agm-info-window>
          
          </agm-marker>
        </div> 
      

    </agm-map>
  </div>
  
  <div class="login-title">  
    <h1 class="login-title-font">{{ title }}</h1>
  </div>  

</ion-content>

