<ion-header>

  <ion-navbar color="forApp">
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    

<ion-avatar item-start>
  <div *ngIf="imgsource">  
     <div class="posicionAvatar"> 
     <img src="{{imgsource}}" class="avatar">
    </div>
  </div> 

  <div *ngIf="imgsource == null">  
      <div class="posicionAvatar"> 
      <img src="https://firebasestorage.googleapis.com/v0/b/talkmeapp-59cd7.appspot.com/o/profile.jpg?alt=media&token=49342799-8b44-4c47-b37e-b6e13cd246cb" class="avatar">
      </div>
    </div>  
    
  </ion-avatar>

  <div class="customProfile" text-center>
    <p class="etiquetas">Nickname</p>
    <p>{{(perfilDatos | async)?.nickname}}</p>
    <p class="etiquetas">Nombre</p>
    <p>{{(perfilDatos | async)?.nombre}} {{(perfilDatos | async)?.apellido}}</p>
    <p class="etiquetas">Edad</p>
    <p>{{(perfilDatos | async)?.edad}}</p>
  </div>  
  <div text-center>
  <button ion-button round (click)="editarPerfil()" color="forApp">Editar Perfil</button>
  </div>

</ion-content>
