page-perfil-usuario {
    .avatar {
        width:200px;
        height:200px;
        border-radius:150px;
    }

    .posicionAvatar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



}
