page-registro {

    .form{
        padding-top: 60px;
    }

    .buttons{
        padding-top: 30px;
    }

    .login-title{
        height:100px;
        padding-top: 80px;
    }

    //se define la fuente a utilizar 
    .login-title-font{
        font-family: bernadetteFont;
        color: #af0f0f;
        font-size: 4.5em;  
    }

    //login-main contiene toda la columna
    .login-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    //espacio del formulario
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    //estilo para el fondo de pantalla de login
    .login-bg{
        background-color: white;
         //background-image: url('https://firebasestorage.googleapis.com/v0/b/talkmeapp-59cd7.appspot.com/o/login_fondo.jpg?alt=media&token=4dad1d3b-a472-4a9a-99da-65b2c177ce8d');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover; 
     }

     div.scroll-content{
         background-color: #C0C0C0;
     }
}
